* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
background: rgb(151, 246, 146);
  background: linear-gradient(
    0deg,
    rgb(60, 188, 54) 0%,
    rgb(133, 207, 158) 100%
  );
  
  width: 100%;
  height: auto;
  padding: 1rem;
}

h1 {
  color: rgb(14, 154, 14);
}

p {
  word-spacing: 0.2rem;
}

.main {
  margin: 10rem 0;
  padding: 1rem;
  border: 1px solid black;
  width: auto;
  border-radius: 1rem;
  background-color: #CDD6CD;
}

b {
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: rgb(57, 129, 52);
}

.age {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1rem;
}

.age-left-section,
.age-right-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
fieldset {
  width: 20rem;
  border-radius: 5px;
}

legend {
  margin-left: 1rem;
}

.proficiency {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.appereance {
  gap: 1rem;
}

#submit-btn {
  width: 100%;
  background-color: green;
  color: white;
}